.dashboard {
    display: flex;
    flex: 1;
    justify-content: flex-start;
}

ul {
    padding: 0px;
}

aside {
    padding: 50px;
    background-color: var(--color-neutral);
    margin-left: 0px;
    font-weight: bold;
}

.content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 50px
}